body {
    background-color: #EEEEEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;

    width: 80%;
    margin-left: 10%;
    margin-top: 10vh;
}

#editor-container {
    /* border: 1px solid red; */
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

#menu {
    /* border: 1px solid blue; */
    padding: 1rem;
}

#editor {
    /* border: 1px solid yellow; */
    background: #fff;
    padding-bottom: 50vh;
}